@page "/"



<PageTitle>Index</PageTitle>
<h1 >😃Marcin Hrabski😃</h1>
Numer albumu: 110945
<br />
<br />
<details>
  <summary>Musiałem to zrobić, proszę się nie gniewać😉</summary>
  @for (var i = 0; i < 50; i++)
 {
  <b>😁</b>

 }
 <h2>Visual Studio po POLSKU!!!!!</h2>
 <img src="haha.png">
</details>

